@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 150px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

header h1 {
  background: -webkit-gradient(linear, left bottom, right top, from(#fff), color-stop(#d4e7fa), to(#4f8bc9));
  background: linear-gradient(to top right, #fff, #d4e7fa, #4f8bc9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

nav {
  color: #fff;
  background-color: #000;
}

nav .nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

nav .nav-container label {
  font-size: 0.9rem;
}

nav .nav-container label :first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

nav .nav-container label :nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

nav .nav-container label :nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

nav .nav-container label :nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

nav .nav-container label :nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

nav .nav-container label :last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

nav .nav-container input {
  margin: 20px 20px;
}

nav .nav-container input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}

nav .nav-container input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #4f8bc9;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #d4e7fa;
}

main {
  color: #000;
  height: 100vh;
}

.search-container {
  height: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container input {
  margin: 0 10px;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 12px 10px 18px #666;
          box-shadow: 12px 10px 18px #666;
  outline-color: #4f8bc9;
  -moz-outline-radius: 10px;
}

.search-container input[type="text"] {
  color: #333;
  background-color: #e8f0fe;
  width: 400px;
  font-size: 1rem;
}

.search-container input[type="text"]:focus {
  background-color: #eee;
  border: 2px solid #d4e7fa;
  border-radius: 10px;
}

.search-container input[type="submit"] {
  padding: 10px;
  color: #333;
  background-color: #e8f0fe;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.search-container input[type="submit"]:hover {
  color: #fff;
  background-color: #4f8bc9;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.movie-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-container li {
  list-style-type: none;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 12px 10px 18px #666;
          box-shadow: 12px 10px 18px #666;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.movie-container li:focus-within, .movie-container li:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: 15px 15px 15px #666;
          box-shadow: 15px 15px 15px #666;
  outline: none;
}

footer {
  color: #fff;
  background-color: #000;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

footer p {
  font-size: 0.75rem;
  font-weight: 300;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

footer a:hover {
  color: #4f8bc9;
}

footer span {
  margin: 0 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
  header {
    font-size: 2rem;
  }
  nav .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
  }
  nav .nav-container label {
    font-size: 1rem;
  }
  nav .nav-container label :first-child {
    margin-left: 20px;
  }
  nav .nav-container label :last-child {
    margin-right: 20px;
  }
  nav .nav-container input {
    margin: 0 10px 20px 10px;
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 2.5rem;
  }
  nav .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */