@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eeeeee;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 150px;
  background-color: #000;
  display: flex;
  align-items: center;
  font-size: 2.5rem;

  h1 {
    background: linear-gradient(to top right, #fff, #d4e7fa, #4f8bc9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

nav {
  color: #fff;
  background-color: #000;

  .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    label:first-child {
      margin-left: 20px;
    }

    label:last-child {
      margin-right: 20px;
    }

    input {
      margin: 0 10px 20px 10px;
    }

    input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #fff;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid #fff;
    }

    input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #4f8bc9;
      // background-color: #d4e7fa;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid #d4e7fa;
    }
  }
}

main {
  color: #000;
  height: 100vh;
}

.movie-container {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  li {
    list-style-type: none;
    height: 400px;
    overflow: hidden;
    // border: 5px solid red;
    border-radius: 20px;
    box-shadow: 12px 10px 18px #666;
  }
}

footer {
  color: #fff;
  background-color: #000;
  height: 75px;
  display: flex;
  align-items: center;
  margin-top: 30px;

  p {
    font-size: 0.75rem;
    font-weight: 300;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  a:hover {
    color: #4f8bc9;
  }
}
