@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 150px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;

  input {
    margin: 0 10px 20px 10px;
  }
}

main {
  color: #000;
  height: 100vh;
}

.movie-container {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  li {
    list-style-type: none;
  }
}

footer {
  height: 75px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;

  p {
    font-size: 0.75rem;
    font-weight: 300;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  a:hover {
    color: #4f8bc9;
  }
}
